
<div id="sidebar" class="sidebar">
  <h4>Guide</h4>
  <ul>
    {% assign pages_list = site.categories.guide %}
    {% include JB/pages_list %}
  </ul>
  <h4>写作训练</h4>
  <ul>
    {% assign pages_list = site.categories.writing %}
    {% include JB/pages_list %}
  </ul>
  <h4>Workshop/工作坊</h4>
  <ul>
    {% assign pages_list = site.categories.workshop %}
    {% include JB/pages_list %}
  </ul>
  <h4>Baseline/基线</h4>
  <ul>
    {% assign pages_list = site.categories.baseline %}
    {% include JB/pages_list %}
  </ul>
  <h4>Path/培养路线图</h4>
  <ul>
    {% assign pages_list = site.categories.path %}
    {% include JB/pages_list %}
  </ul>
  <h4>Output/培养目标</h4>
  <ul>
    {% assign pages_list = site.categories.output %}
    {% include JB/pages_list %}
  </ul>
  <h4>Contribute</h4>
  <ul>
    {% assign pages_list = site.categories.contribute %}
    {% include JB/pages_list %}
  </ul>
  <h4>Open Workshop</h4>
  <ul>
    {% assign pages_list = site.categories.open-workshop %}
    {% include JB/pages_list %}
  </ul>
  <h4>讨论区</h4>
  <ul>
    <li><a href="https://github.com/open-edu/open-edu.github.io/issues">基于github issue的论坛^_^</a></li>
  </ul>
</div>

